module {{.Module}}

go {{.GoVersion}}

require (
	github.com/a-h/templ {{.TemplVersion}}
	github.com/airlockrun/agentsdk {{.AgentSDKVersion}}
)

tool github.com/a-h/templ/cmd/templ

tool github.com/airlockrun/agentsdk/cmd/air
